/* Commenting method in CSS is the same for the html (ctrl + shift + forward slash */
/* CSS Selector */
/* In CSS, you can enter multiple properties inside the selector to change the style of the element

/* CSS STYLING SPECIFICITY
      inline styling has the highest priority over internal and external styling
      external styling has the lowest priority over inline and internal styling

      CSS STYLING PRIORITIZATION
      inline > internal > external

      !important - property used in CSS to override the CSS priority rule. It make the property to which iT is attached a priority over aNy other conflicting style (regardless if its internal or inline)
            - if conflicting 
*/

h1 {
  color: red !important;
  background-color: pink;
}

/* 
  * - universal selector; it is used to target all elements inside the html tag

  font-family - changes the style of the font
    Courier New - is the font that is to be used by the webpage to display the texts
    monospace - the family from which the browser will try to search for a font once the Courier New is not available
*/

* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

/* ID selector */
/*      this is commonly used to provide unique styling for an element */
/*      #idName */
/* letter-spacing - used to change the spaces in between the characters */

#zuitt-motto{
  letter-spacing: 5px;
  /* font-size: 50px; */
}

/* CSS SPECIFICITY
  in terms of the selectors, id has the highest priority over other selectors and universal selector has the lowest
*/

h3 {
  letter-spacing: 25px;
}

/* CLASS SELECTOR */

.offering-item {
  text-transform: uppercase;
}

/* ATTRIBUTE SELECTOR 
        will only work if the element has the exact attribute that is specified in the selector. case sensitive 
    SYNTAX: 
        tag[attribute]
  
  */

/* input[required] {
  border-width: 2px;
  border-style: solid;
  border-color: navy;
} */

/* combination selectors */
/* these selectors require two selectors but the target is the latter/second/ selector */

/* ADJACENT SIBLING SELECTOR 
  SYNTAX:
    firstSelector + secondSelector
  */
  

h3 + img {
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

/* 
in combination selectors, the we are not restricted to use uniform/one tag
for both. the firstSelector can be a class/id/tag while the secondSelector can be of different selector
  #zuitt-motto + img {
  height: 300px;
  width: 300px;
  border-radius: 150px;
} */

/* DESCENDANT SELECTOR - 
    used to select elements(secondSelector) that are inside other elements(firstSelector)
  SYNTAX:
    firstSelector secondSelector
   */

/* hexadecimal value of the color property - can be used to specify the target shade for the color that the dev/client wants to use */
#bootcamp-learning-list li {
  color: #075966;
}

/* 
GENERAL SIBLING SELECTOR (same indention)
  used to target the preceding siblings (secondSelector) of the first selector
*/
h2 ~ a{
  text-decoration: none;
}

/* form>label{
  color: rgb(0, 0, 128);
} */


/* CHILD SELECTOR */
/* can be used to 
  SYNTAX:
    firstSelector>secondSelector */
body>section>form>label{
  /*  */
  color: rgb(0, 0, 128);
}

body{
  background-color: skyblue;
}

html {
  scroll-behavior: smooth;
}

/* NAVIGATION */

nav {
  background-color: white;
}

a:hover {
  background-color: #b3d6de;
}

div {
  display: inline-block;
}

/* landing section */
section {
  /* ch - viewport height; the browser will be using 100% of the screen display */
  height: 100vh;
  text-align: center;
}

h2 {
  /* rem - root element measurement it multiplies the value attached to it to the root element */
  /* default value would be 16px {root element is html) */
  font-size: 1.5rem;
}

ol {
  /* list-style-type - changes the bulet/ordering style of the elements*/
  list-style: none;
}

/* register section */
/* position - property that changes the position of lement based on a certain criteria
    left - used along the position position property to add a certain measurement to the left of the element
      directions (l, r, t, b) - it is recommended to use only 2 of the directions; vertical (top and bottom) or horizontal (left and the right) per selector
*/

form {
  text-align: white;
  background-color: white;
  border: 2px solid black;
  height: 250px;
  /* vw-viewport width and is similar to vh */
  width: 25vw;
  position: relative;
  left: 37.25%;
}

button {
  background-color: #cf0053;;
  color: white;
  border: 0;
  border-radius: 15px;
}