.style2 {
  color: yellow;
}

/* 6- universal selector */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* 7- type selector */
h1 {
  font-size: 20px;
}

/* 8- id selector */
#learn {
  text-transform: uppercase;
}

/* 9- class selector */
.learned-items {
  background-color: lightblue;
}

/* 10- attribute selector */
li[class="tools"] {
  border: 1px;
  border-color: lightseagreen;
  border-style: solid;
}

/* 11- adjacent sibling selector (other things to learn) */
img + ul {
  list-style-type: none;
}

/* 12- descendant selector (image tag dimension) */
div img {
  height: 80px;
  width: 80px;
  border-radius: 160px;
}

/* 13- generic sibling selector (alignment of last paragraph) */
div ~ p {
  text-align: center;
}

/* 14- child selector */
ul > li {
  letter-spacing: 8px;
}
